@import "var";

span {
  font-size: $font_normal;
  color: $text_color_dark_gray;
}

button {
  ::ng-deep {
    mat-icon {
      svg {
        path {
          fill: $text_color_dark_gray;
        }
      }
    }
  }
}
