@import "_var.scss";
@import "_mixins.scss";

header {
  background: #FFFFFF;
  //box-shadow: $header-shadow;
  @include fixed(0, 0, 0, 2);
  border-bottom: 1px solid $color_light_border;


  .header-wp {
    position: relative;
    height: $header_height;
  }

  app-icon-button {
    margin: 0 $space_large 0 $space_small;
  }

  app-header-menu-button {
    margin-left: 12px;
  }

  app-notification-icon-button {
    margin: 0 10px;
  }
}

.tabs-wp {
  width: $container-width;
  margin: 1px auto;
  @include fixed($header_height, 0, 0, 1);
  padding: 16px 16px 0;
  background-color: #F2F2F2;

  app-tabs {
    ::ng-deep {
      .mat-tab-link  {
        height: $header_height !important;
      }

      .mat-tab-link-container {
        background: white;
        border-radius: 4px 4px 0 0;
      }

      .mat-tab-header {
        box-shadow: $tabs-shadow;
        border: none !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    border-bottom: none;
  }

  .tabs-wp {
    width: 100%;
    margin: 0;
    position: relative;
    top: 53px;
    right: 0;
    padding: 0;
    left: 0;
    z-index: 1;
    background-color: #F2F2F2;

    app-tabs {
      ::ng-deep {
        .mat-tab-link  {
          height: 48px !important;
          font-size: 14px;
        }

        .mat-tab-link-container {
          background: white;
          border-radius: 0;
        }

        .mat-tab-header {
          box-shadow: $tabs-shadow;
          border: none !important;
        }
      }
    }
  }
}
