<header>
  <app-row [padding]="'0 16px 0 0'"
           [h]="'space-between'"
           [v]="'center'"
           class="header-wp"
  >
    <app-row>
      <app-icon-button [buttonSize]="30"
                       [iconName]="'menu-icon'"
      ></app-icon-button>

      <app-title type="large"
                 [link]="'/'"
                 [text]="appName"
      ></app-title>
    </app-row>

    <app-profile-button></app-profile-button>

  </app-row>

  <app-tabs class="header-tabs-wp"
            [tabLinks]="navService.tabLinks"
            (tabClick)="onTabLinkClick($event)"
            [activeLink]="(navService.activeTab$ | async)!"
  ></app-tabs>
</header>

