<header>
  <app-row [padding]="'0 16px 0 0'"
           [h]="'space-between'"
           [v]="'center'"
           class="header-wp"
  >
    <app-row [v]="'center'">
      <app-header-menu-button ifMobile></app-header-menu-button>

      <mat-icon [routerLink]="['/']"
                class="framework-logo"
                ifDesktop
                svgIcon="angular-icon"
      ></mat-icon>

      <app-title type="medium"
                 [link]="'/'"
                 [text]="appName"
                 [style.margin-left]="(device.isMobile$ | async) ? '10px' : '12px'"
      ></app-title>
    </app-row>

    <app-row [h]="'center'" [v]="'center'">
      <app-create-entity-button></app-create-entity-button>
      <app-notification-icon-button></app-notification-icon-button>
      <app-profile-button></app-profile-button>
    </app-row>

  </app-row>
</header>

<div class="tabs-wp" *ngIf="navService.isShowTab$ | async">
  <app-tabs [tabLinks]="navService.tabLinks"
            (tabClick)="onTabLinkClick($event)"
            [activeLink]="(navService.activeTab$ | async)!"
  ></app-tabs>
</div>

<app-left-side-menu ifDesktop></app-left-side-menu>
