@import "_var.scss";
@import "_mixins.scss";

header {
  background: #FFFFFF;
  box-shadow: $header-shadow;
  @include fixed(0, 0, 0, 1);

  .header-wp {
    position: relative;
    height: 56px;
  }

  app-icon-button {
    margin: 0 $space_large 0 $space_small;
  }
}



.header-tabs-wp {
  position: absolute;
  width: $container-width;
  top: -2px;
  margin: 0 auto;
  right: 0;
  left: 0;

  .mat-tab-link  {
    height: 56px !important;
  }
}

@media only screen and (max-width: 768px) {
  .header-tabs-wp {
    position: relative;
    width: 100%;
    top: 0;
  }
}

