@import "var";

:host {
  overflow-y: auto;

  &::-webkit-scrollbar {
    margin-top: 20px;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;

    //margin-top: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color_scroll_thumb;
    border-radius: 18px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
  }
}
