@import "_var.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
}

:host {
  @include flex-center;
}

div {
  @include flex-center;
  margin-right: $space_small;

  mat-icon {
    height: $space_large;
  }
}

