@import "_var.scss";

:host {
  display: flex;
}

.info {
  font-size: $font_small;

  .dot {
    margin-right: $space_mini;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


.single {
  color: $color_black;

  .count {
    font-weight: 500;
  }
}

.list {
  color: $color_gray_dark;
}

.count {
  padding-right: $space_mini;
}
