@import "../../../shared/styles/_var.scss";

:host {
  display: flex;
}

.info {
  font-size: $font_small;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $text_color_dark_gray;

  &>*:first-child {
    text-transform: capitalize;
  }

  a {
    margin-right: $space_mini;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  span {
    margin-right: $space_mini;
  }
}

