<ng-container>
  <app-column [padding]="'16px 16px 0 16px'">

    <section class="modal-header">

      <app-close-button class="close-btn"
                        (onClose)="dialogRef.close()"
      ></app-close-button>

      <div class="header-title title-large">
        {{ (data.isTx ? 'modals.login.title-wait' : 'modals.login.title') | i18nextEager}}
      </div>

    </section>

    <ng-container [ngSwitch]="data.status">

      <ng-template [ngSwitchCase]="ACCOUNT_STATUS.EXTENSION_NOT_FOUND">
        <app-column class="ext-not-found">
          <span class="message normal">
            <span>
              <a class="link"
                 target="_blank"
                 href="{{LINKS.polkadotExt}}">
                Polkadot Extension
              </a>

              <span>{{ 'modals.login.noExtension.wasNotFound' | i18nextEager }}</span>
            </span>
            <br>
            <span>{{'modals.login.noExtension.installExt' | i18nextEager}}</span>
          </span>

          <app-column class="link-wp">
            <a matRipple
               target="_blank"
               href="{{LINKS.chromeExt}}"
            >
              <img src="../../../../assets/img/chrome.png" alt="">
              <span>{{ 'modals.login.noExtension.installForChrome' | i18nextEager }}</span>
            </a>

            <a matRipple
               class="mt-16"
               target="_blank"
               href="{{LINKS.firefoxExt}}"
            >
              <img src="../../../../assets/img/firefox.png" alt="">
              <span>{{ 'modals.login.noExtension.installForFirefox' | i18nextEager  }}</span>
            </a>
          </app-column>

          <div class="footer-not-ext-wp">
            <span>
              {{ 'modals.login.noExtension.needHelp' | i18nextEager }}
              <a class="link"> {{ 'modals.login.noExtension.signInGuide' | i18nextEager }}</a>
            </span>
          </div>
        </app-column>

      </ng-template>

      <ng-template [ngSwitchCase]="ACCOUNT_STATUS.ACCOUNTS_NOT_FOUND">
        <div class="account-not-found">
          <p>
            {{ 'modals.login.noAccountScreen.noAccountFound' | i18nextEager }}
            <br>
            <b>Polkadot extension</b>
            {{ 'modals.login.noAccountScreen.createNew' | i18nextEager }}
            <br>
            {{ 'modals.login.noAccountScreen.importExisting' | i18nextEager }}
          </p>

          <div class="footer-wp">
            <a href="">{{ 'modals.login.noAccountScreen.privacyPolicy' | i18nextEager }}</a>
            <a href="">{{ 'modals.login.noAccountScreen.termOfUse' | i18nextEager }}</a>
          </div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="ACCOUNT_STATUS.UNAUTHORIZED">

        <app-column v="center" class="unauthorized">

          <span>{{ 'modals.login.accountScreen.message' | i18nextEager }}</span>

          <app-scroll class="account-list">

            <app-row v="center"
                     (click)="selectAccount(account)"
                     class="account-item"
                     *ngFor="let account of data.accounts"
            >

              <app-avatar [size]="40"
                          [jdentityValue]="account.id"
                          [src]="account.avatar">
              </app-avatar>

              <app-row h="space-between" class="account-info-wp">

                <app-column>

                  <span class="name">{{account.name || (account.id | addressHidden)}}</span>

                  <app-tokens [size]="'small'"
                              [showIcon]="false"
                              [tokens]="account.balance"
                  ></app-tokens>

                </app-column>

                <app-address size="small"
                             [address]="account.id"
                ></app-address>

              </app-row>

            </app-row>
          </app-scroll>

          <app-row h="center" class="footer-wp">
            <a href="">{{ 'modals.login.noAccountScreen.privacyPolicy' | i18nextEager }}</a>
            <a href="">{{ 'modals.login.noAccountScreen.termOfUse' | i18nextEager }}</a>
          </app-row>
        </app-column>

      </ng-template>

    </ng-container>
  </app-column>
</ng-container>
