@import "src/app/shared/styles/var";
@import "src/app/shared/styles/mixins";

.modal-header {
  position: relative;
  text-align: center;

  .header-title {
    color: $text_color_dark_gray;
    width: 100%;
    text-align: center;
  }
}


.close-btn {
  position: absolute;
  right: -5px;
  top: -6px;
}

.ext-not-found {
  padding: 0 $space_big;
  align-items: center;

  span {
    white-space: nowrap;
  }

  .message {
    text-align: center;
    padding: $space_small 0;

    a {
      padding-right: $space_mini;
    }
  }

  .link-wp {
    width: 230px;

    a {
      @include font($font_normal, 500);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color_normal;
      border: $border_btn-gray;
      border-radius: 4px;
      padding: $space_tiny $space_big;

      &:hover {
        transition: background-color 300ms;
        background-color: $color_hover_primary;
      }

      img {
        margin-right: $space_mini;
      }
    }
  }

  .footer-not-ext-wp {
    font-size: $font_small;
    margin-top: $space_large;
    padding: $space_mini 0 $space_large;

    span {
      color: $text_color_dark_gray;
    }
  }
}

.account-not-found {
  p {
    font-size: $font-normal;
    padding: 21px 28px;
    text-align: center;
    white-space: pre;
    background: $color_yellow-light;
    border-radius: 5px;
  };
}

.footer-wp {
  @include font($font_small, 500);
  padding: $space_mini 0 $space_large;
  color: $text_color_dark_gray;
  text-align: center;

  a {
    padding: 0 $space_normal;

    &:first-child {
      border-right: 1px solid $line_outline_gray;
    }
  }
}

.link{
  color: $color_primary;
  font-weight: 500;
}

.unauthorized {
  &>span {
    padding: 8px 0 5px;
    font-size: $font_normal;
  }

  .account-list {
    width: 400px;
    margin-bottom: $space_large;
    max-height: 244px;
    overflow-y: auto;
    margin-right: -$space_mini;

    .account-item {
      border-bottom: 1px solid $line_outline_gray;
      padding: 8px 0 5px;
      cursor: pointer;

      &:hover {
        background-color: $color_hover_primary;
      }

      .account-info-wp {
        width: 100%;
        margin-left: $space_normal;
        padding-right: $space_mini;

        .name {
          @include font($font_normal, 500);
          display: block;
          padding-bottom: $space_mini;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .unauthorized {
    .account-list {
      width: 100%;
    }
  }
}
