<app-column [v]="'start'" [padding]="'14px 0'" [margin]="'0 -16px'">
  <button mat-ripple
          [routerLink]="['/accounts', profileId]"
          (click)="sideNavService.closeAccountSideNav()">
    <mat-icon svgIcon="profile-icon"></mat-icon>
    <span>{{ 'buttons.myProfile' | i18nextEager }}</span>
  </button>

  <button mat-ripple
          [routerLink]="['/accounts', profileId, 'profile','edit']"
          (click)="sideNavService.closeAccountSideNav()">
    <mat-icon svgIcon="edit-icon"></mat-icon>
    <span>{{ 'buttons.editMyProfile' | i18nextEager }}</span>
  </button>

  <button mat-ripple
          [matMenuTriggerFor]="langMenu"
          class="lang-btn"
          (menuOpened)="isLangMenuOpen = true"
          (menuClosed)="isLangMenuOpen = false"
  >
    <mat-icon class="world-icon" svgIcon="world-icon"></mat-icon>
    <span>{{ 'buttons.Language' | i18nextEager }}:</span>
    <span class="lang-name">{{currentLanguage}}</span>
    <mat-icon class="arrow"
              svgIcon="arrow-icon"
              [ngClass]="{
                'arrow-up': isLangMenuOpen,
                'arrow-down': !isLangMenuOpen
              }"
    ></mat-icon>
  </button>

  <mat-menu #langMenu="matMenu" xPosition="before">
    <button mat-menu-item
            *ngFor="let lang of availableLanguage"
            class="lang-list-item"
            [ngClass]="{'lang-list-item-active': lang.isActive }"
            (click)="selectMenu(lang)"
    >
      <mat-icon svgIcon="check-icon" *ngIf="lang.isActive"></mat-icon>
      <span>{{ lang.label }}</span>
    </button>
  </mat-menu>

  <button mat-ripple (click)="onSettings()">
    <mat-icon svgIcon="setting-icon"></mat-icon>
    <span>{{ 'buttons.settings' | i18nextEager }}</span>
  </button>

</app-column>




