<section class="edit-space-container">
  <mat-card>
    <h2 class="title-medium">
      {{ (type === 'edit' ? 'forms.titles.editSpace' : 'forms.titles.newSpace') | i18nextEager }}
    </h2>


    <form [formGroup]="editSpaceForm"
          class="space-form" action=""
    >

      <app-image-loader formControlName="image"
                        [imageUrl]="url"
      ></app-image-loader>

      <app-text-input  formControlName="name"
                       [isRequired]="true"
                       [label]="'forms.placeholder.spaceName' | i18nextEager"
                       [error]="errors.name"
      ></app-text-input>

      <app-mde-editor [isToolbarHidden]="false"
                      formControlName="about"
                      [height]="160"
                      [autoFocus]="true"
                      [placeholder]="'forms.placeholder.description' | i18nextEager"
      ></app-mde-editor>

      <app-tag-input [placeholder]="'forms.placeholder.tags' | i18nextEager"
                     formControlName="tags"
      ></app-tag-input>

      <div class="button-wp">
        <button (click)="resetForm()"
                mat-stroked-button
        >
          {{ (type === 'edit' ? 'buttons.cancel' : 'buttons.resetForm')  | i18nextEager }}
        </button>

        <app-tx-button [name]="(type === 'edit' ? 'buttons.save' : 'buttons.createSpace') | i18nextEager"
                       (click)="onEditSpace()"
                       [isSending]="isSending"
        ></app-tx-button>
      </div>
    </form>
  </mat-card>
</section>
