<section class="edit-space-container">
  <mat-card>
    <h2 class="title-medium" *transloco="let t; read: 'general'">{{t(type)}} {{t('space')}}</h2>


    <form [formGroup]="editSpaceForm"
          class="space-form" action=""
          *transloco="let t; read: 'forms.placeholder'"
    >

      <app-image-loader formControlName="image"
                        [imageUrl]="url"
      ></app-image-loader>

      <app-text-input  formControlName="name"
                       [isRequired]="true"
                       [label]="t('spaceName')"
                       [error]="errors.name"
      ></app-text-input>

      <app-mde-editor [isToolbarHidden]="false"
                      formControlName="about"
                      [height]="160"
                      [autoFocus]="true"
                      [placeholder]="t('description')"
      ></app-mde-editor>

      <app-tag-input [placeholder]="t('tags')"
                     formControlName="tags"
      ></app-tag-input>

      <div class="button-wp" *transloco="let t; read: 'buttons'">
        <button (click)="resetForm()"
                mat-stroked-button
        >
          {{ type === 'edit' ? t('cancel') : t('resetForm') }}
        </button>

        <app-tx-button [name]="type === 'edit' ? t('save') : t('createSpace')"
                       (click)="onEditSpace()"
                       [isSending]="isSending"
        ></app-tx-button>
      </div>
    </form>
  </mat-card>
</section>
