<app-column [v]="'start'" [padding]="'14px 0'">
  <button mat-ripple [routerLink]="['/accounts', profileId]">
    <mat-icon svgIcon="profile-icon"></mat-icon>
    <span>{{ 'buttons.myProfile' | transloco }}</span>
  </button>

  <button mat-ripple [routerLink]="['/accounts', profileId, 'profile','edit']">
    <mat-icon svgIcon="edit-icon"></mat-icon>
    <span>{{ 'buttons.editMyProfile' | transloco }}</span>
  </button>

  <button mat-ripple (click)="onSettings()">
    <mat-icon svgIcon="setting-icon"></mat-icon>
    <span>{{ 'buttons.settings' | transloco }}</span>
  </button>
</app-column>



