@import "_var.scss";

.static {}

.full {
  width: 100%;
}

.primary {
  border: $border_primary !important;
}

.gray {
  border: $border_light !important;
  color: $color_normal;
}

button {
  font-size: $font_normal;
}
