@import "var";

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid $button_outline_gray;
  cursor: pointer;

  ::ng-deep {
    mat-icon {
      width: 15px;
      svg {
        path {
          fill: $color_primary;
        }
      }
    }
  }

  &:hover, &:active {
    border-color: $color_primary;
  }
}
