@import "_var.scss";
@import "_mixins.scss";

span {
  letter-spacing: 0.25px;
  @include font($font_normal, 500, 20px);
  color: #EB2F96;

  &:hover {
    cursor: pointer;
  }

  white-space: nowrap;
}
