<section class="edit-profile-container" *ngIf="hasPermission$ | async; else noPermission">
  <mat-card>
    <h2 class="title-medium">
      {{ (isNew ? 'forms.titles.newProfile' : 'forms.titles.editProfile') | i18nextEager }}
    </h2>

    <form [formGroup]="editProfileForm" class="profile-form" action="">

      <app-image-loader formControlName="avatar"
                        [imageUrl]="url"
      ></app-image-loader>

      <app-text-input formControlName="name"
                      [isRequired]="true"
                      [label]="'forms.placeholder.profileName' | i18nextEager"
      ></app-text-input>

      <app-mde-editor [isToolbarHidden]="false"
                      [height]="160"
                      [autoFocus]="true"
                      formControlName="about"
                      [placeholder]="'forms.placeholder.description' | i18nextEager"
      ></app-mde-editor>

      <div class="button-wp">

        <button (click)="resetForm()"
                mat-stroked-button
        >{{ (isNew ? 'buttons.cancel' : 'buttons.resetForm') | i18nextEager}}</button>

        <app-tx-button [name]="(isNew ?  'buttons.createProfile' : 'buttons.save') | i18nextEager"
                       (click)="onEditProfile()"
                       [isSending]="isSending"
        ></app-tx-button>

      </div>
    </form>
  </mat-card>
</section>

<ng-template #noPermission>
  <div>No permission</div>
</ng-template>
