@import "var";

.static {

}

.full {
  width: 100%;
}

.write-post-button {
  cursor: pointer;
  font-size: $font_normal;
}

.disabled {
  background: $button_outline_gray !important;
  color: $text_color_dark_gray !important;
  cursor: auto;
}

.tooltip {
  font-size: $font_small;
}
