@import "var";

.static {

}

.full {
  width: 100%;
}

.write-post-button {
  cursor: pointer;
  font-size: $font_normal;
}

.disabled {
  background: $color_shadow !important;
  color: #B3B3B3 !important;
  cursor: auto;
}

.tooltip {
  font-size: 14px;
}
