.side-wp {
  position: relative;
  width: 393px;

  .close-btn {
    position: absolute;
    right: 0;
    top: 13px;
  }
}

app-scroll {
  height: calc(100vh - 424px);
}

@media only screen and (max-width: 768px) {
  .side-wp {
    width: auto;
  }
}

::ng-deep {
  .mat-drawer-container {
    z-index: 5 !important;
  }
}
