@import "var";
@import "mixins";

aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  bottom: 0;
  background: $color_white;
  top: $header_height;
  box-shadow: $menu_shadow;
  overflow: hidden;

  .links {
    overflow: hidden;
    margin-top: 8px;

    a {
      display: flex;
      align-items: center;
      padding: 14px 0;
      cursor: pointer;
      position: relative;
      color: $icon_color_dark_gray;

      &:hover {
        background-color: $color_hover_primary;
        transition: background-color 0.3s;
        color: $color_primary;
      }

      span {
        @include font($font_small, 500);
        white-space: nowrap;
        position: absolute;
        left: 54px;
        opacity: 1;
        transition: opacity 0.5s;
      }

      mat-icon, img {
        height: 20px;
        width: 20px;
        margin: 0 17px;
        color: $icon_color_dark_gray;
      }
    }
  }


  mat-divider {
    margin: 8px 16px;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .title {
      animation: fadeIn 0.5s linear;
      white-space: nowrap;
    }

    div {
      display: flex;
      align-items: center;
      gap: $space_normal;
      overflow: hidden;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: $tag_bg_gray;
        border: 1px solid $tag_bg_gray;

        &:hover {
          background-color: $icon_bg_gray;
          border: 1px solid $button_outline_gray;
          transition: background-color 0.3s;
        }


        mat-icon {
          width: 18px;
          height: 18px;
          color: $icon_color_dark_gray;
        }
      }
    }

    .option-icon {
      position: relative;
      width: 3px;
      height: 15px;
      left: -8px;
    }

    span {
      @include font($font_small);
      color: $text_color_dark_gray;
      margin-bottom: $space_normal;
    }
  }
}

.icon-primary-hover {
  &:hover {
    ::ng-deep {
      svg {
        path {
          fill: $color_primary;
        }
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: $header_height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  touch-action: none;
}

.border-top {
  border-top: $border_light;
}


.social-links-close {
  .title {
    display: none;
  }

  a:not(:first-child) {
    display: none !important;
  }
}
