<ng-container *ngIf="postData">
    <mat-card>

      <app-hidden-content *ngIf="postData.hidden && postData.isMyPost"
                          [type]="'post'"
      ></app-hidden-content>

      <app-column >
        <app-row [h]="'space-between'"
                 [v]="'center'"
                 [margin]="'0 0 16px 0'"
        >

          <app-post-info [userName]="postData.ownerName"
                         [spaceName]="postData.spaceName"
                         [imageUrl]="postData.ownerImageUrl"
                         [createdAtTime]="postData.createdAtTime"
                         [ownerId]="postData.ownerId"
                         [spaceLink]="postData.spaceLink"
          ></app-post-info>

          <app-option-button></app-option-button>

        </app-row>

        <app-embed-video [videoUrl]="postData.link"></app-embed-video>

        <app-title *ngIf="!postData.isComment" type="large" [text]="postData.title"></app-title>

        <app-comment-post-title *ngIf="postData.isComment"
                                [postTitle]="commentPostData?.postTitle"
                                [link]="commentPostData?.link"
        ></app-comment-post-title>

        <app-post-image class="post-image"
                        type="full"
                        *ngIf="postData.imageUrl"
                        [imageSrc]="postData.imageUrl"
        ></app-post-image>

        <markdown class="markdown-body" ngPreserveWhitespaces>
          {{postData.body}}
        </markdown>

        <app-row [margin]="'4px 0 16px 0'">
          <app-tag [tagName]="tag" *ngFor="let tag of postData.tags"></app-tag>
        </app-row>

      </app-column>

      <mat-divider [inset]="true"></mat-divider>

      <app-action-panel class="action-panel-wp"
                        [isShowShare]="true"
                        [isShowLabel]="true"
                        [upvoteCount]="postData.upvotesCount"
                        [downvoteCount]="postData.downvotesCount"
                        [commentCount]="postData.repliesCount"
                        [isDownvoteActive]="postData.downvoteActive"
                        [isUpvoteActive]="postData.upvoteActive"
                        [postId]="postData.id"
                        [reactionId]="postData.reactionId"
      ></app-action-panel>

    </mat-card>

    <app-space-item [spaceItemData]="spaceData"></app-space-item>

    <mat-card class="comment-card">
      <app-comments [commentListData]="commentData"></app-comments>
    </mat-card>

</ng-container>
