<ng-container *ngIf="(post$ | async) as post">
    <mat-card>

      <app-hidden-content [id]="post.id"
                          [type]="'post'"
      ></app-hidden-content>

      <app-column  [margin]="'0 0 16px 0'">
        <app-row [h]="'space-between'"
                 [v]="'center'"
                 [margin]="'0 0 16px 0'"
        >

          <app-post-info [userName]="post.ownerName"
                         [spaceName]="post.spaceName"
                         [imageUrl]="post.ownerImageUrl"
                         [createdAtTime]="post.createdAtTime"
                         [ownerId]="post.ownerId"
                         [spaceLink]="post.spaceLink"
          ></app-post-info>

          <app-post-menu [post]="post"
                         (onClickViewReaction)="onViewReaction()"
          ></app-post-menu>

        </app-row>

        <app-embed-video [videoUrl]="post.link"></app-embed-video>

        <app-title *ngIf="!post.isComment && post.title" type="large" [text]="post.title"></app-title>

        <app-comment-post-title *ngIf="post.isComment"
                                [postTitle]="commentPostData?.postTitle"
                                [link]="commentPostData?.link"
        ></app-comment-post-title>

        <app-post-image class="post-image"
                        type="full"
                        *ngIf="post.imageUrl"
                        [image]="post.imageUrl"
        ></app-post-image>

        <markdown class="markdown-body" ngPreserveWhitespaces>
          {{post.body}}
        </markdown>

        <app-row *ngIf="post.tags && post.tags.length > 0" [margin]="'4px 0 16px 0'">
          <app-tag [tagName]="tag" *ngFor="let tag of post.tags"></app-tag>
        </app-row>

        <ng-container *ngIf="(sharedPost$ | async) as sharedPost">
          <app-post-item [isSharedPost]="true"
                         [postItemData]="sharedPost">
          </app-post-item>
        </ng-container>

        <ng-container *ngIf="isSharedPostHidden">
          <div class="post-not-found">{{'content.postNotFound' | transloco}}</div>
        </ng-container>

      </app-column>

      <mat-divider [inset]="true"></mat-divider>

      <app-action-panel class="action-panel-wp"
                        [isShowShare]="true"
                        [isShowLabel]="true"
                        [upvoteCount]="post.upvotesCount"
                        [downvoteCount]="post.downvotesCount"
                        [commentCount]="post.repliesCount"
                        [postId]="post.id"
      ></app-action-panel>

    </mat-card>

    <ng-container *ngIf="(space$ | async) as space">
      <app-space-item [space]="space"></app-space-item>
    </ng-container>

    <mat-card class="comment-card">
      <app-comments [repliesCount]="post.repliesCount" [rootPost]="post"></app-comments>
    </mat-card>

</ng-container>
