@import "_var.scss";

.post-image {
  margin-bottom: $space_normal;
}

.action-panel-wp {
  display: block;
  margin-top: $space_tiny;
  margin-bottom: -$space_tiny !important;
}

.comment-card {
  padding-bottom: $space_mini;
  margin-top: $space_normal;
}

app-title {
  margin-bottom: $space_normal;
}

app-post-item {
  margin-top: 10px;
}

app-comment-post-title {
  margin-bottom: 6px;
}
