.center {
  display: flex;
  padding: 0 60px;

  &>*{
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.left {
  display: flex;
  padding: 3px 0;
  margin-left: 12px;
  width: 342px;

  &>*{
    display: flex;
    justify-content: center;
    padding-right: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .center {
    display: flex;
    padding: 3px 0;
  }
}
