<div [ngClass]="position">
  <app-upvote-button [isActive]="!!isUpvoteActive"
                     [isShowLabel]="isShowLabel"
                     [count]="upvoteCount"
                     [fontSize]="fontSize"
                     (voteClick)="onVoteClick(KIND.UPVOTE)"
  ></app-upvote-button>

  <app-downvote-button [isActive]="!!isDownvoteActive"
                       [count]="downvoteCount"
                       [isShowLabel]="isShowLabel"
                       [fontSize]="fontSize"
                       (voteClick)="onVoteClick(KIND.DOWNVOTE)"
  ></app-downvote-button>

  <app-comment-button *ngIf="isShowComment"
                      [count]="commentCount"
                      (onClick)="commentClick.emit()"
                      [fontSize]="fontSize"
  ></app-comment-button>

  <app-shared-button *ngIf="isShowShare"
                     [fontSize]="fontSize"
                     [isShowLabel]="isShowLabel"
                     (click)="shareClick.emit()"
                     [count]="sharesCount"
  ></app-shared-button>

  <app-reply-button *ngIf="isShowReply"
                    [fontSize]="fontSize"
                    (click)="replyClick.emit()"
                    [isShowLabel]="isShowLabel"
  ></app-reply-button>
</div>
