<app-space-profile *ngIf="(space$ | async) as space"
                    [space]="space"
                   [isMySpace]="isMySpace$ | async"
                   [isAutoExpandSummary]="isAutoExpandSummary"
                   class="space-wp"
></app-space-profile>

<ng-container *ngIf="(postIds$ | async) as postIds; else noPost">

  <app-post-list [type]="'all'"
                 [ids]="postIds"
                 [showHiddenContent]="isMySpace$ | async"
  ></app-post-list>

</ng-container>

<ng-template #noPost>

  <app-no-content [text]="'content.noPosts' | i18nextEager"></app-no-content>

</ng-template>



