<ng-container *ngIf="imageSrc">
  <ng-container [ngSwitch]="type">
    <ng-template ngSwitchCase="square">
      <a [routerLink]="link">
        <div class="post-image"
             [ngStyle]="{
                'background-image':  'url(' + imageSrc +')'
             }"
        ></div>
      </a>
    </ng-template>
    <ng-template ngSwitchCase="notification">
      <a [routerLink]="link">
        <div class="post-image-notification"
             [ngStyle]="{
                'background-image':  'url(' + imageSrc +')'
             }"
        ></div>
      </a>
    </ng-template>
    <ng-template ngSwitchCase="full">
      <a [routerLink]="link">
        <img class="post-image-full" [src]="imageSrc">
      </a>
    </ng-template>
  </ng-container>
</ng-container>


