<ng-container *ngIf="postItemData && !(skip$ | async)">

  <mat-card [ngClass]="{'shared-post-card' : isSharedPost, 'common-post-card': !isSharedPost}">

    <app-hidden-content [id]="postItemData.id"
                        [type]="'post'"
    ></app-hidden-content>

    <app-row [ngClass]="['post-main-wp']">

      <app-column class="w100">

        <app-row [v]="'start'"
                 [h]="'space-between'"
        >
          <app-post-info [userName]="postItemData.ownerName"
                         [spaceName]="postItemData.spaceName"
                         [imageUrl]="postItemData.ownerImageUrl"
                         [createdAtTime]="postItemData.createdAtTime"
                         [ownerId]="postItemData.ownerId"
                         [postLink]="postItemData.postLink"
                         [spaceLink]="postItemData.spaceLink"
          ></app-post-info>

          <app-post-menu [post]="postItemData"
                         (onClickViewReaction)="onViewReaction()"
          ></app-post-menu>

        </app-row>

        <app-embed-video [videoUrl]="postItemData.link"></app-embed-video>

        <app-title *ngIf="postItemData.title"
                   [text]="postItemData.title"
                   [link]="postItemData.postLink"
                   [style.margin-top]="'7px'"
        ></app-title>

        <app-paragraph [marginTop]="5"
                       [link]="postItemData.postLink"
                       [text]="postItemData.summary"
                       [isShowMore]="postItemData.isShowMore"
        ></app-paragraph>

      </app-column>

      <app-post-image [link]="postItemData.postLink"
                      [type]="(deviceService.isMobile$ | async) ? 'full' : 'square'"
                      [image]="postItemData.imageUrl"
                      [style.margin-top]="(deviceService.isMobile$ | async) ? '8px' : '0'"
      ></app-post-image>

    </app-row>

    <mat-divider *ngIf="!isSharedPost"
                 [style.margin]="'12px 0 4px 0'"
                 [inset]="true"
    ></mat-divider>

    <app-action-panel [isShowComment]="true"
                      [postId]="postItemData.id"
                      [fontSize]="17"
                      [upvoteCount]="postItemData.upvotesCount"
                      [downvoteCount]="postItemData.downvotesCount"
                      [commentCount]="postItemData.repliesCount"
                      [isShowShare]="true"
                      [sharesCount]="postItemData.sharesCount"
                      (commentClick)="onCommentButtonClick()"
                      (shareClick)="onShareClick()"
                      *ngIf="!isSharedPost"
    ></app-action-panel>

    <ng-container *ngIf="isCommentOpen">

      <mat-divider [inset]="true" [style.margin]="'4px 0 16px 0'"></mat-divider>

      <app-comments [rootPost]="postItemData"
                    [repliesCount]="postItemData.repliesCount"
      ></app-comments>

    </ng-container>

  </mat-card>

</ng-container>
