@import "_var.scss";

.tokens-wp {
  line-height: 24px;
  color: $text_color_dark_gray;
  display: flex;
  align-items: center;

  mat-icon {
    width: 20px;
    margin-right: 6px;
  }

  &>span:last-child {
    margin-left: 4px;
  }
}

.small {
  font-size: $font_small;
}

.medium {
  font-size: $font_normal;
}

.secondary {
  .strong{
    color: $color_normal;
    font-weight: 500;
  }
}

.primary {
  .strong{
    color: $text_color_dark_gray;
    font-weight: 400;
  }
}
