@import "var";

:host {
  display: flex;
}

img {
  border-radius: 50%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $photo_outline_gray;
  border-radius: 50%;
  overflow: hidden;
}
