@import "_var.scss";
@import "_mixins.scss";

::ng-deep {
  .mat-tab-link {
    width: 50% !important;
  }
}

app-qr-button {
  margin-left: 52px;
  width: 20px;
  margin-top: -3px;
}

.mat-card {
  padding-bottom: 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.tabs-wp {
  width: calc(100% + 32px);
  box-sizing: border-box;
  margin: 0 -16px;

  ::ng-deep {
    .mat-tab-link {
      font-size: 16px;
    }

    .mat-tab-link-container {
      z-index: 0;
    }
  }
}

.buttons-wp {
  margin: 22px 0 16px;
  gap: $space_normal;

  &>* {
    flex: 1;
  }
}
