<app-icon-button [iconSize]="22"
                 [buttonSize]="32"
                 [iconName]="isActive ? 'upvote-active-icon' : 'upvote-default-icon'"
                 (click)="this.voteClick.emit();"
></app-icon-button>

<span class="action-panel-label"
      *ngIf="isShowLabel"
>
  {{ 'buttons.upvote' | transloco }}
  <span *ngIf="count > 0">
    ({{count | numeral}})
  </span>
</span>

<span
  class="action-panel-label"
  [ngClass]="{ 'active': isActive }"
  *ngIf="!isShowLabel && count > 0"
>
  {{count | numeral}}
</span>



