@import "_var.scss";
@import "_mixins.scss";

span {
  letter-spacing: 0.25px;
  @include font($font_normal, 500, 20px);
  color: $color_primary;

  &:hover {
    cursor: pointer;
  }

  white-space: nowrap;
}
