
<mat-form-field class="w100 send-tip-input-wp" appearance="outline">
  <mat-label>
    Enter amount
  </mat-label>

  <input (blur)="onBlur()" type="number" [(ngModel)]="value" matInput>

  <span class="token">SUB</span>

</mat-form-field>

<app-row class="error-wp" [margin]="'0 0 4px 0'">
  <div  *ngIf="errorKey === 'max'">{{'modals.tips.error' | transloco}}</div>
  <div  *ngIf="errorKey === 'required'">{{'forms.validations.required' | transloco}}</div>
</app-row>

<span>
  <span class="text-gray small">Available balance:</span>
  <span class="balance">{{balance}}</span>
</span>

