@import '_var.scss';

.profile-button-wp {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.sign-in-btn {
  font-size: $font_normal;
}
.mat-stroked-button {
  border: $border_primary !important;
}
