:root {
  --primary-color: #eb2f96;
  --seconadry-color: #222;
  --dark-gray: #888888;
  --outline-color: #DDDDDD;
  --bg-color: #f2f2f2;
  --white-color: #fff;
  --text-red-color: #d42c19;
  --text-disabled-color: #BCBCBC;
  --green-color: #3BB356;
  --red-color: #EA3323;
  --yellow-color: #EFB041;
  --light-yellow-color: #FFFAD5;
  --warning-light-color: #f3e8ac;
  --warning-color: #ED6C02;
  --hover-color: #FCF1F6;
}


/*-------------Font Size-----------*/

$font_tiny: .75rem;

$font_small: .875rem;   //14px
$font_normal: 1.0625rem; //17px
$font_large: 1.1875rem;  //19px
$font_big: 1.375rem;    //22px

$font_huge: 2rem;

/*-------------Colors----------*/

$color_primary: var(--primary-color);
$color_normal: var(--seconadry-color);
$color_yellow-light: var(--light-yellow-color);
$content-hidden-bg: #fefbe8;
$color_white: #fff;
$color-bg:  var(--bg-color);
$color_red: var(--red-color);
$color_green: var(--green-color);

//Gray:
$icon_color_dark_gray: var(--dark-gray);
$color_btn_outline: var(--outline-color);
$color_input_outline: var(--outline-color);
$color_scroll_thumb: var(--outline-color);

//Colors background
$comment_bg_gray: var(--bg-color);
$icon_bg_gray: var(--bg-color);
$tag_bg_gray: var(--bg-color);
$inactive_btn_bg: var(--bg-color);

//Colors text
$text_color_dark_gray: var(--dark-gray);
$inactive_btn_text: var(--text-disabled-color);

//Colors outline&border
$button_outline_gray: var(--outline-color);
$input_outline_gray: var(--outline-color);
$line_outline_gray: var(--outline-color);
$photo_outline_gray: var(--outline-color);
$scroll_outline_gray: var(--outline-color);

//Colors icon
$icon_color_dark_gray: var(--dark-gray);

//Hover
$color_hover_primary: var(--hover-color);

//Borders
$border-content-hidden: 1px solid #F1E8B3;
$border_primary: 1px solid $color_primary;
$border_grey_dark: 1px solid $text_color_dark_gray;
$border_light: 1px solid $line_outline_gray;
$border_btn-gray: 1px solid $button_outline_gray;
$shared_post_border: 1px solid #DADADA;

/*----------Space Size-------------*/

$space_mini: .25rem;
$space_tiny: .5rem;
$space_small: .75rem;
$space_normal: 1rem;
$space_large: 1.25rem;
$space_big: 1.5rem;
$space_huge: 2rem;

/*------------- Shadow --------*/

$header-shadow: 0px 3px 10px rgba(153, 153, 153, 0.14), 0px 3px 9px rgba(153, 153, 153, 0.12), 0px 1px 20px rgba(153, 153, 153, 0.2);
$tabs-shadow: 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 20%);
$select-dropdown-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
$menu_shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

$container-width: 763px;
$header_height: 56px;
$tab_top_margin: 72px;
