<section class="edit-post-container">
  <mat-card>
    <h2 class="title-medium">
      {{ (type === 'edit' ? 'forms.titles.editPost' : 'forms.titles.newPost') | i18nextEager }}
    </h2>
    <app-tabs [tabLinks]="tabs"
              [activeLink]="activeTab"
              (tabClick)="setActiveTab($event)"
    ></app-tabs>

    <form [formGroup]="postForm" action="">

      <app-space-select *ngIf="type === 'new'"
                        formControlName="spaceId"
                        [spaceId]="initialSpaceId"
      ></app-space-select>

      <ng-container [ngSwitch]="activeTab.tabName">

        <ng-template ngSwitchCase="article">
          <div class="image-wp">

            <app-image-loader type="square"
                              formControlName="image"
            ></app-image-loader>

          </div>
        </ng-template>

        <ng-template ngSwitchCase="video">
          <div class="input-wp">
            <app-text-input formControlName="link"
                            [isRequired]="true"
                            [label]="'forms.placeholder.videoUrl' | i18nextEager"
                            (blur)="onVideoUrlBlur()"
                            [error]="postFormErrors.link"
            ></app-text-input>
          </div>
          <app-embed-video [videoUrl]="videoUrl"></app-embed-video>
        </ng-template>
      </ng-container>

      <app-text-input [label]="'forms.placeholder.postTitle' | i18nextEager"
                      formControlName="title"
      ></app-text-input>

      <app-mde-editor [isToolbarHidden]="false"
                      formControlName="body"
                      [height]="160"
                      [autoFocus]="true"
                      [placeholder]="'forms.placeholder.postBody' | i18nextEager"
                      [isRequired]="isBodyRequired"
                      [error]="postFormErrors.body"
      ></app-mde-editor>

      <app-tag-input formControlName="tags"
                     [placeholder]="'forms.placeholder.tags' | i18nextEager"
      ></app-tag-input>

      <div class="button-wp">
        <button (click)="resetForm()" mat-stroked-button>
          {{ (type === 'edit' ? 'buttons.cancel' : 'buttons.resetForm') | i18nextEager}}
        </button>

        <app-tx-button [name]="(type === 'edit' ? 'buttons.save' : 'buttons.createPost') | i18nextEager"
                       (click)="onEditPost()"
                       [isSending]="isSending"
        ></app-tx-button>
      </div>

    </form>

  </mat-card>
</section>

