<aside #aside class="close">
  <app-column class="links">
    <ng-container *ngFor="let item of menuItems">
      <ng-container *ngIf="item.type === 'item'; else divider">
        <a href="{{item.href}}" target="_blank">
          <mat-icon svgIcon="{{item.icon}}"></mat-icon>
          <span>{{item.title}}</span>
        </a>
      </ng-container>
      <ng-template #divider>
        <mat-divider></mat-divider>
      </ng-template>
    </ng-container>
  </app-column>
  <section class="social-links">
    <span class="title">Our social links:</span>
    <div>
      <ng-container *ngFor="let icon of iconItems">
        <a href="{{icon.href}}"  target="_blank">
          <mat-icon svgIcon="{{icon.icon}}"></mat-icon>
        </a>
      </ng-container>

      <mat-icon class="option-icon" svgIcon="option-gray-icon"></mat-icon>
    </div>
  </section>
</aside>

