@import "_var.scss";

.comment-input-wp {
  display: flex;
  align-items: flex-start;
}

.input-wp {
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  width: 100%;

  .send-btn-wp {
    display: flex;
    gap: 16px;
    margin-top: $space_normal;
  }
}
