<div
  infinite-scroll
  [infiniteScrollThrottle]="50"
  [infiniteScrollDistance]="scrollDistance"
  (scrolled)="onScrollDown()"
  [infiniteScrollDisabled]="isBlockInfinityScroll"
  class="space-list-wp">
  <ng-container *ngFor="let space of items$ | async; trackBy: trackById">
    <app-space-item [showHidden]="showHidden" [space]="space"></app-space-item>
  </ng-container>

  <app-spinner [showSpinner]="isLoading"
               [text]="'content.moreSpaces' | i18nextEager"
  ></app-spinner>
</div>
