<ng-container *ngIf="(isAuthorized$ | async) && (profileData$ | async) as profileData">

  <div (click)="sideNavService.openAccountSideNav()"
       class="profile-button-wp"
  >
    <app-avatar [src]="profileData.avatar"
                [jdentityValue]="profileData.id"
                [size]="36"
    ></app-avatar>

    <app-column [margin]="'0 0 0 8px'">

      <span class="profile-name title-overflow">{{profileData.name || (profileData.id | addressHidden)}}</span>

      <app-tokens type="primary" [tokens]="balance$ | async"></app-tokens>

    </app-column>

  </div>
</ng-container>

<ng-container *ngIf="!(isAuthorized$ | async)">

  <button mat-stroked-button
          (click)="openSignInModal()"
          class="sign-in-btn"
          color="primary">
    {{ 'buttons.signIn' | i18nextEager }}
  </button>

</ng-container>
