<ng-container *ngIf="isFollow; else following">

  <button
    (click)="onUnfollow.emit();"
    [ngClass]="width"
    [ngStyle]="{
      'font-size': size === 'medium' ? '14px': '17px',
      'letter-spacing': size === 'medium' ? '1.25px' : '0'
    }"
    mat-stroked-button
    color="primary"
  >
    Following
  </button>

</ng-container>

<ng-template #following>

  <button
    (click)="onFollow.emit()"
    [ngClass]="width"
    [ngStyle]="{
      'font-size': size === 'medium' ? '14px': '17px',
      'letter-spacing': size === 'medium' ? '1.25px' : '0'
    }"
    class="follow-button"
    mat-flat-button
    color="primary"
  >
    Follow
  </button>

</ng-template>
