@import "var";

.flat {
  background-color: $color_primary;
  color: white;
  padding: 1px 25px;
}

.stroked {
  border: $border-primary;
  color: $color_primary;
  padding: 0 12px;

  &:active {
    border: $border-primary;
  }
}

button {
  min-width: 64px;
  line-height: 34px;
  padding: 0 $space_normal;
  border-radius: 4px;
  font-weight: 500;

  //span {
  //  text-transform: capitalize;
  //}

  &:disabled {
    cursor: default;
    background: $color_white;
    border: 1px solid $button_outline_gray;
    color: $inactive_btn_text;
  }

  ::ng-deep {
    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: $text_color_dark_gray !important;
    }
  }
}

mat-spinner {
  display: inline;
  left: -10px;
  top: 2px;
  padding-left: 16px;
  transition: padding-left 400ms;
}

.medium {
  font-size: $font_small;
  letter-spacing: 1.25px;
}

.large {
  font-size: $font_normal;
}

.static {
  width: fit-content;
}

.full {
  width: 100%;
}
