<div *ngIf="space && !(skip$ | async)" class="space-item-wp">
  <mat-card>
    <app-hidden-content [id]="space.id"
                        [type]="'space'"
    ></app-hidden-content>

    <app-row [v]="'start'"
             [h]="'space-between'"
    >
      <app-space-info [spaceName]="space.name"
                      [avatarSrc]="space.image"
                      [followersCount]="space.followersCount"
                      [postsCount]="space.postsCount"
                      [link]="space.spaceLink"
                      [itemType]="itemType"
                      [spaceId]="space.id"
      ></app-space-info>

      <app-row [v]="'center'">

        <app-follow-button [size]="'large'"
                           ifDesktop
                           [isFollow]="isFollowed$ | async"
                           [style.margin-right]="'9px'"
                           [entityId]="space.id"
        ></app-follow-button>

        <app-space-menu [spaceId]="space.id"
        ></app-space-menu>

      </app-row>

    </app-row>

    <app-paragraph [marginTop]="10"
                   [link]="space.spaceLink"
                   [text]="space.summary"
                   [isAutoExpand]="true"
                   [isShowMore]="space.isShowMore"
    ></app-paragraph>

    <app-tag *ngFor="let tag of space.tags" [tagName]="tag"></app-tag>

    <app-follow-button width="full"
                       size="large"
                       ifMobile
                       [style.margin-top]="'16px'"
                       [isFollow]="isFollowed$ | async"
                       [entityId]="space.id"
    ></app-follow-button>
  </mat-card>
</div>
