@import "_var.scss";

.vote-item-wp {
  padding: $space_tiny 0;
  border-bottom: 1px solid  $color_border_list;
  margin-right: $space_mini;
}

.sub-wb {
  span {
    font-weight: 500;
    font-size: $font_small;
    padding-left: $space_mini;
    color: #A0A0A0;
  }
}

.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.25px;
}

.sub {
  cursor: pointer;
}

.hover {
  &:hover {
    background: $hover_color_light;
  }
}
