<ng-container *ngIf="userInfo">
  <app-row [h]="'space-between'"
           [v]="'center'"
           class="vote-item-wp"
           [ngClass]="{
              'hover': isHover,
              'sub': type === 'sub',
              'follow': type === 'follow'
            }"
            (click)="onClick.emit()"
  >
    <app-row>

      <app-avatar [src]="userInfo.avatarSrc"
                  [jdentityValue]="userInfo.address"
      ></app-avatar>

      <app-column [margin]="'0 0 0 16px'">

        <a (click)="dialogRef.closeAll()"
           [routerLink]="['/accounts/', userInfo.address]"
           class="user-name"
        >
          {{userInfo.userName || (userInfo.address | addressHidden)}}
        </a>

        <app-address [address]="userInfo.address"
                     [showCopyButton]="showCopyButton"
        ></app-address>

      </app-column>

    </app-row>

    <app-follow-button *ngIf="type === 'follow'"
                       [entityId]="userInfo.address"
                       [isFollow]="userInfo.isFollowing"
                       type="profile"
    ></app-follow-button>

    <div class="sub-wb" *ngIf="type === 'sub'">
      <app-tokens [tokens]="userInfo.balance!"></app-tokens>
    </div>
  </app-row>
</ng-container>

