<app-column class="w100" [padding]="'7px 0 0'" *ngIf="!skipComment">

  <app-row class="w100" [style.display]="isEdit ? 'none' : 'flex'">

    <app-avatar [size]="36"
                [src]="comment.ownerImageUrl"
                [jdentityValue]="comment.ownerId"
                [alignItem]="'start'"
    ></app-avatar>

    <app-column class="message-wp">

      <app-column class="message"
                  [padding]="'8px 16px 11px 16px'"
      >

        <app-hidden-content *ngIf="hidden"
                            [type]="'comment'"
                            [id]="comment.id"
                            (switchHidden)="onSwitchHidden()"
                            [style.margin-top]="'8px'"
        ></app-hidden-content>

        <app-row [v]="'center'">

          <app-title [text]="comment.ownerName || (comment.ownerId | addressHidden)"
                     [link]="'/accounts/' + comment.ownerId"
                     type="small"
                     [isEllipsis]="true"
          ></app-title>

          <span class="dot">·</span>

          <span class="date" [routerLink]="comment.postLink">{{comment.createdAtTime | day}}</span>

          <app-comment-menu (onClickViewReaction)="onOpenReactions()"
                            (switchHidden)="onSwitchHidden()"
                            (edit)="onEdit()"
                            [comment]="comment"
                            [isHidden]="hidden"
          ></app-comment-menu>

        </app-row>

        <markdown *ngIf="showCommentText" class="markdown-body" ngPreserveWhitespaces>
          {{ comment.body }}
        </markdown>

      </app-column>

      <app-action-panel [isShowLabel]="!(device.isMobile$ | async)"
                        [isShowReply]="true"
                        [upvoteCount]="comment.upvotesCount"
                        [downvoteCount]="comment.downvotesCount"
                        [postId]="comment.id"
                        [position]="!(device.isMobile$ | async) ? 'left' : 'center'"
                        (replyClick)="isShowReplyInput = !isShowReplyInput"
      ></app-action-panel>


    </app-column>
  </app-row>

  <app-comment-input *ngIf="isEdit"
                     class="w100"
                     [autofocus]="true"
                     [type]="'edit'"
                     [comment]="comment"
                     [parentPostId]="comment.parentId"
                     [rootPostId]="comment.rootPostId!"
                     (sendSuccess)="onEditCommentSuccess()"
                     (cancel)="isEdit = false"
  ></app-comment-input>

  <app-comment-list [isShowInput]="isShowReplyInput"
                    [parentPostId]="comment.id"
                    [rootPostId]="rootPostId"
                    (closeReply)="isShowReplyInput = false"
  ></app-comment-list>

</app-column>


