@import "var";

app-avatar {
  margin-right: $space_tiny;
}

.date {
  color: $text_color_dark_gray;
  white-space: normal;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.dot {
  padding: 0 4px 0;
}

.message {
  background: $comment_bg_gray;
  border-radius: 4px;
}


.message-wp {
  width: inherit;
}

app-option-button {
  padding-left: 7px;
}

app-reply-comments {
  margin-left: 7px;
}


app-comment-menu {
  margin-right: -10px;
}

app-comment-input {
  margin: 16px 0 16px;
}

app-comment-list {
  margin-left: 43px;
}
