<mat-card *ngIf="space">
  <app-hidden-content *ngIf="isHidden"
                      [id]="space.id"
                      [type]="'space'"
                      (switchHidden)="onSwitchHidden()"
  ></app-hidden-content>

  <app-row [h]="'space-between'"
           [v]="'start'"
           [margin]="'0 0 10px 0'"
  >

    <app-space-info [spaceName]="space.name"
                    [avatarSrc]="space.image"
                    [followersCount]="space.followersCount"
                    [postsCount]="space.postsCount"
                    [link]="'/' + space.id"
                    [itemType]="'single'"
                    [spaceId]="space.id"
    ></app-space-info>

    <app-row [v]="'center'">
      <app-edit-button [type]="'space'"
                       [id]="space.id"
                       ifDesktop
                       *ngIf="isMySpace"
      ></app-edit-button>

      <app-space-menu (switchHidden)="onSwitchHidden()"
                      [spaceId]="space.id"
                      [isHidden]="isHidden"
      ></app-space-menu>

    </app-row>

  </app-row>

  <app-paragraph *ngIf="!space.isShowMore"
                 [text]="space.summary"
  ></app-paragraph>

  <app-expand-paragraph *ngIf="space.isShowMore"
                        [text]="space.summary"
                        [expandedText]="space.about"
                        [isMore]="!isAutoExpandSummary"
  ></app-expand-paragraph>

  <app-link-icons *ngIf="space.links && space.links.length > 0"
                  [links]="space.links"
                  [style.margin]="'19px 0 14px'"
  ></app-link-icons>

  <div>
    <app-tag *ngFor="let tag of space.tags"
             [tagName]="tag"
    ></app-tag>
  </div>

  <app-row [ngClass]="'buttons-wp'"
           [margin]="'16px 0 0 0'"
  >

    <ng-container *ngIf="isMySpace; else notMySpace">
      <app-create-space-button width="full"
                               type="edit"
                               [spaceId]="space.id"
      ></app-create-space-button>

      <app-write-post-button [spaceId]="space.id"
                             width="full"
      ></app-write-post-button>
    </ng-container>

    <ng-template #notMySpace>
      <app-send-tips-button [disabled]="true"
                            width="full"
      ></app-send-tips-button>

      <app-follow-button size="large"
                         width="full"
                         type="space"
                         [entityId]="space.id"
                         [isFollow]="isFollowed$ | async"
      ></app-follow-button>
    </ng-template>


  </app-row>

</mat-card>
