@import '~@angular/material/theming';
@import "_var.scss";
@import "_mixins.scss";

@include mat-core();

$subsocial-palette: (
  50: #f6a3d1,
  100: #f48cc5,
  200: #f275b9,
  300: #ef5ead,
  400: #ed46a2,
  500: $color_primary,
  600: #e9188a,
  700: #d3147d,
  800: #bb126f,
  900: #a41061,
  A100: #f8bbdc,
  A200: #fbd2e8,
  A400: #fde9f4,
  A700: #8d0e53,
  contrast: (
    50: $color_black,
    100: $color_black,
    200: $color_black,
    300: $color_black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $color_black,
    A200: white,
    A400: white,
    A700: white,
  )
);

$subsocial-ng-app-primary: mat-palette($subsocial-palette);
$subsocial-ng-app-accent: mat-palette($mat-pink, A200, A100, A400);

$subsocial-ng-app-warn: mat-palette($mat-red);

$subsocial-ng-app-theme: mat-light-theme((
  color: (
    primary: $subsocial-ng-app-primary,
    accent: $subsocial-ng-app-accent,
    warn: $subsocial-ng-app-warn,
  )
));

@include angular-material-theme($subsocial-ng-app-theme);

@mixin custom-tabs-theme() {
  .mat-tab-link  {
    font-size: 16px;
    color: $color_gray_dark;
    width: 100%;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    opacity: 1 !important;

    &:hover, &:active{
      color: $color_primary !important;
    }
  }

  //.mat-tab-nav-bar, .mat-tab-header {
  //  border-bottom: none!important;
  //}

  .mat-tab-links {
    justify-content: center;
  }

  .mat-tab-label-active {
    color: $color_primary;
  }

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }

}

@mixin custom-buttons-theme() {
  .mat-flat-button.mat-primary.mat-button-disabled {
    background-color: #EEECEC;
    color: #B3B3B3;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0 16px 0;
  }

  .mat-form-field-label-wrapper {
    top: -$space_normal !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-input-element::-webkit-input-placeholder {
    color: $color_gray_dark;
  }
}

@mixin custom-input-theme() {
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
    border-color: $color_primary;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $color_primary;
  }

  .mat-input-element {
    caret-color: $color_gray_dark!important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: $color_gray_dark !important;
    .asterisk {
      display: inline;
    }
  }
}

@include custom-tabs-theme();
@include custom-buttons-theme();
@include custom-input-theme();

html, body { height: 100%;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F2F2F2;
  color: $color_black;
}

li {
  list-style: none;
}

//h1 {
//  font-weight: 500;
//  font-size: 24px;
//  line-height: 24px;
//}
//
//h2 {
//  font-weight: 500;
//  font-size: 20px;
//  line-height: 24px;
//}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

p, li {
  line-height: 24px;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

button, button:hover {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: transparent;
  box-shadow: 0 0 0 transparent;
  border: 0 solid transparent;
  text-shadow: 0 0 0 transparent;
  cursor: pointer;

  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline: 0;
  }
}

.secondary-button {
  @include font($font_normal, 500, 34px);
  margin: auto 0;
  padding: 0 $space_normal;
  border-radius: $space_mini;
  border: 1px solid $color_gray_light;
  color: $color_black;

  &:active, &:hover {
    border: 1px solid $color_gray_light;
  }
}

.tx-is-loading-btn {
  background-color: $color_white !important;
  color: $color_gray_secondary;
  border: 1px solid $color_gray_secondary;
}

strong {
  font-weight: 500;
}

p {
  @include font($font_normal, 400, 24px);
}

/*      Font      */

.font-success {
  color: $color_green;
}

.font-error {
  color: $color_red;
}

.title-large {
  @include font($font_big, 500)
}

.title-medium {
  @include font($font_large, 500)
}

.title-small {
  @include font($font_normal, 500)
}

.normal {
  @include font($font_normal)
}

.secondary-text {
  @include font($font_small);
  color: $color_gray_secondary;
}

.button-text {
  @include font($font_normal, 500)
}

.container {
  width: $container-width;
  margin: 72px auto;
  padding-bottom: $space_normal;
}

.sb-container {
  width: $container-width;
  margin: 72px auto;
  background: white;
  border-radius: 4px;
  padding: $space_normal;
}

.mat-dialog-container {
  padding: 0 !important;
}

.scrollable-list-wp {
  &::-webkit-scrollbar {
    margin-top: $space_large;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;

    //margin-top: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 18px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
  }
}



.center {
  display: flex;
  justify-content: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.asterisk {
  position: relative;
  font-size: $font_normal;
  font-weight: 500;
  top: -3px;
  color: #B00020;
}

.filler {
  color: transparent;
}


markdown {
  img {
    width: 100%;
    margin-bottom: 16px;
  }

  hr {
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom: none;
  }

  p:last-child {
    margin-bottom: 4px;
  }
}

/*    Spacing    */
.mt-16 {
  margin-top: $space_normal;
}

.mb-16 {
  margin-bottom: $space_normal !important;
}

.w100 {
  width: 100%;
}

.if-desktop {
  display: block !important;
}

.if-mobile {
  display: none !important;
}

.white-snackbar {
  background-color: white;
  color: $color_black;
}

.modal-overflow {
  overflow-y: auto;
}

.action-panel-label {
  color: $color_gray_dark;
  @include font($font_small, 500, 24px);
  margin-left: $space_mini;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }
}

.error-wp {
  color: $color_red;
  font-size: 12px;
  position: relative;
  left: $space_normal;
}

.post-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  border: $shared_post_border;
  border-radius: 4px;
  padding: 21px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 14px;
  }

  .if-desktop {
    display: none !important;
  }

  .if-mobile {
    display: block !important;
  }

  .mat-drawer.mat-drawer-end {
    left: 22px;
    right: 22px !important;
    border-radius: 5px;
  }

  .mat-drawer-container {
    position: initial !important;
  }
}

.modal-wp {
  h2 {
    line-height: 0;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 8px 5px 16px;
  }

  .modal-tabs {
    box-shadow: 0px 1px 8px rgb(0 0 0 / 20%);
    clip-path: inset(2px 0px -15px 0px);

    .mat-tab-link  {
      font-size: 14px !important;
    }
  }

  .modal-body {
    min-height: 550px;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
