<div class="modal-wp">

  <div class="modal-header">
    <h2>Connections</h2>
    <app-close-button (onClose)="dialogRef.close()"></app-close-button>
  </div>

  <div class="modal-tabs">
    <app-tabs (tabClick)="onTabClick($event)" [activeLink]="activeTab" [tabLinks]="tabLinks"></app-tabs>
  </div>

  <div class="modal-body">

    <ng-container *ngIf="activeTab.tabName === 'following' && followingIds">
      <ng-container *ngIf="followingIds.length > 0; else noDownload">
        <app-vote-user-list [ids]="followingIds"></app-vote-user-list>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="activeTab.tabName === 'followers' && followersIds">
      <ng-container *ngIf="followersIds.length > 0; else noDownload">
        <app-vote-user-list [ids]="followersIds"></app-vote-user-list>
      </ng-container>
    </ng-container>
  </div>

</div>

<ng-template #noDownload>
  <app-row margin="16px 0 0" h="center">No download yet</app-row>
</ng-template>
