<div *ngIf="(hidden$ | async) || (spaceHidden$ | async)" class="hidden-wp">
  <div class="center-vertical" *transloco="let t; read: 'generalMessages'">
    <mat-icon  svgIcon="info-yellow-icon"></mat-icon>
    <span *ngIf="!(spaceHidden$ | async)">{{ t('hiddenMessage', { type: type }) }}</span>
    <span *ngIf="spaceHidden$ | async">{{ t('hiddenPostBySpace') }}</span>
  </div>
  <button (click)="show()"
          *ngIf="!(spaceHidden$ | async)"
          mat-ripple
          class="make-visible-btn"
  >{{'buttons.makeVisible' | transloco}}</button>
</div>
