.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FEFBE8;
  border-bottom: 1px solid #F1E8B3;
  border-radius: 4px 4px 0 0;
  height: 40px;
  margin: -16px -16px 16px;

  mat-icon {
    margin: 0 10px 0 16px;
  }

  .make-visible-btn {
    margin-right: 16px;
    padding: 3px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
  }

  span {
    font-size: 14px;
  }
}

