<div class="comment-input-wp">
  <div class="avatar-wp">
    <app-avatar [size]="AVATAR_SIZE.MINI" [src]="avatar$ | async"></app-avatar>
  </div>

  <div class="input-wp" >
    <div class="text-area-wp" *transloco="let t; read: 'forms.placeholder'">
      <app-mde-editor [placeholder]="isReply ? t('addReply') : t('addComment')"
                      (focus)="onFocus()"
                      [formControl]="commentForm"
                      [autoFocus]="autofocus"
      ></app-mde-editor>
    </div>
    <ng-container *ngIf="autofocus || showSendButton">
      <div class="send-btn-wp" *transloco="let t; read: 'buttons'">
        <app-tx-button   (click)="sendComments()"
                         [isDisabled]="disabledButton"
                         [isSending]="isSending"
                         [name]="type === 'edit' ? t('update') : t('send')"
        ></app-tx-button>

        <button (click)="cancelComment()" class="secondary-button">
          {{ t('cancel') }}
        </button>
      </div>
    </ng-container>
  </div>
</div>
