@import "var";

.tag {
  display: inline-flex;
  padding: 6px 12px;
  margin-right: $space_tiny;
  margin-top: $space_tiny;
  color: $text_color_dark_gray;
  background: $tag_bg_gray;
  border-radius: $space_normal;
  letter-spacing: 0.25px;
  font-size: $font_small;
  cursor: pointer;
}

.small {
  font-size: $font_tiny;
}

.medium {
  font-size: $font_small;
}

.large {
  font-size: $font_normal;
}

.huge {
  font-size: $font_large;
}
