@import "_var.scss";

.spinner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space_normal 0;

  .text {
    margin-left: $space_small;
  }
}
